

@font-face {
  font-family: 'Roboto';
  src: url('./static//myfonts.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
    font-family: 'Roboto' ;
}
.container {
    height: 138px;
    width: 457px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding: 5px;
    border: 1px solid rgb(163, 163, 163);
    box-shadow: 0px 0px 10px rgb(149 144 144);
    margin: 4px;
}

#img {
    height: 130px;
    width: 130px;
    object-fit: contain;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;
}

#name {
    font-weight: bold;
    font-size: 20px;
}

#description {
    font-size: 20px;
    font-weight:100;
}

#otherAct {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 10px;
    /* margin-bottom: 5px; */
}

.actLogo {
    object-fit: contain;
    height: 20px;
    width: 20px;
}

.actTxt {
    color: #858991;
    font-weight: 400;
    font-size: 12px;
}

.Acts {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center;
    align-items: center;
}

#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    gap: 10px;
}